html
  include partials/header
  meta(name='google-site-verification', content='CP2bDcK0ilZ3tVzYdhC395hZhY--3EUkWtyxGFIbKLk')

  body
    div.container
      include partials/menu
      block header
      div.row
        div.col-lg-9.col-sm-9
          block content
        div#sidebar.col-lg-3.col-sm-3
          include partials/sidebar
          //include about
      hr
      include partials/footer
    include partials/scripts
